.button {
  color: var(--background-color);
  background: linear-gradient(#f06163 0%, #bd2b98 60%, #6034a8 88%);
  display: block;
  padding: 17px 40px;
  border-radius: 100px;
  align-self: center;
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 800;
  max-width: 313px;
  transition: background 0.5s ease;
  border: none;
  font-family: var(--font-family);
  font-size: 15px;
}

.button:hover {
  background: linear-gradient(#ffa3a5 0%, #d94dbe 60%, #8a68cc 88%);
}