.filter {
  background-color: var(--background-color);
  border-radius: var(--border-radius);
  padding: 28px;
  box-shadow: var(--box-shadow);
}

@media (max-width: 768px) {
  .filter {
    padding: 20px;
  }
}
