@import '../variables.css';

.navigation {
  width: 100%;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navigation__item {
  flex: 1;
  background-color: var(--background-color);
}

.navigation__item:first-child {
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.navigation__item:last-child {
  border-top-right-radius: 12px;
  border-bottom-right-radius: 12px;
}

.navigation__link {
  display: block;
  padding: 17px;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: bold;
  }

  svg {
    fill: var(--secondary-color);
  }
}

.navigation__item--active {
  background-color: var(--secondary-color);

  p {
    color: var(--background-color);
  }

  svg {
    fill: var(--background-color);
  }
}
