.recommendation {
  background-color: var(--background-color);
  padding: 20px;
}

.recommendation hr {
  border: none;
  height: 2px;
  background-color: var(--secondary-color-opacity-05);
  width: 100%;
  margin: 0;
  margin-bottom: 20px;
}

.recommendation p {
  font-size: 16px;
  line-height: 26px;
  margin: 0;
  margin-bottom: 20px;
}

.recommendation h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 20px;
}

.recommendation h3 {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 5px;
}

.recommendation ul {
  list-style-type: disc;
  color: var(--secondary-color);
  padding-left: 20px;
  font-size: 16px;
  line-height: 26px;
}

.recommendation__wrap {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.recommendation .button {
  max-width: fit-content;
  font-weight: 700;
}
