.select-wrapper {
  position: relative;
}

.select-wrapper::after {
  content: '';
  background-image: url('data:image/svg+xml,%3Csvg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M10 4L5.64802 8.35198L1.29604 4" stroke="%23BD2B98" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  width: 11px;
  height: 10px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 25px;
  pointer-events: none;
}

.select-wrapper--input::after {
  background-image: url('data:image/svg+xml,%3Csvg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath d="M9.16663 16.6667C13.3088 16.6667 16.6666 13.3089 16.6666 9.16675C16.6666 5.02461 13.3088 1.66675 9.16663 1.66675C5.02449 1.66675 1.66663 5.02461 1.66663 9.16675C1.66663 13.3089 5.02449 16.6667 9.16663 16.6667Z" stroke="%23BD2B98" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3Cpath d="M18.3333 18.3333L15 15" stroke="%23BD2B98" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/%3E%3C/svg%3E');
  width: 20px;
  height: 20px;
}