.title {
}

.title--h2 {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  line-height: 1;
}

@media (max-width: 768px) {
  .title--h2 {
    margin-bottom: 10px;
  }
}

.title--h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.title--color {
  font-size: 25px;
  font-weight: bold;
  margin: 0;
  color: var(--secondary-color);
}

.title--card {
  font-size: 20px;
  font-weight: 500;
  margin: 0;

}