.footer {
  display: flex;
  justify-content: center;
}

.footer-nav__list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.footer-nav__item {
  flex: 1;
  border-right: 2px solid var(--secondary-color-opacity-01);
}

.footer-nav__item:last-child {
  border: none;
}

.footer-nav__link {
  display: block;
  padding: 15px;
  transition: background-color 0.5s ease; ;
}

.footer-nav__link:hover {
  background-color: var(--secondary-color);

  svg {
    stroke: var(--text-color-light)
  }
}

.footer-nav__item svg{
  stroke: var(--secondary-color);
}