.header {
  background-color: var(--background-color);
  padding: 20px;
  text-align: center;
}

.header__wrapper {
  background: linear-gradient(180deg, #6034a8 0%, #bd2b98 60%, #f06163 100%);
  border-bottom-left-radius: 60px;
  border-bottom-right-radius: 60px;
  padding-top: 40px;
  color: var(--background-color);
  display: flex;
  justify-content: center;
}

.header__content {
  max-width: 960px;
  width: 60%;
}
